source https://nuget.org/api/v2

nuget Confluent.Kafka 0.9.2-preview preview
nuget FSharp.Core prerelease redirects: force
nuget Suave
nuget Microsoft.Extensions.Logging.Console
nuget System.Net.NetworkInformation
nuget Newtonsoft.Json
nuget jose-jwt

group Build
  source https://nuget.org/api/v2
  
  nuget FAKE